.footer {
  background: #090909;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  margin-left: 20px;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #b0b0b0;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #b0b0b0;
  margin-bottom: 30px;
  margin-left: 20px;
  position: relative;
}

.footer-contato li a {
  color: #b0b0b0;
}

.footer-contato li::before {
  display: block;
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
  left: -56px;
  top: -3px;
}

.email::before {
  background: url("../img/email.svg") no-repeat center center;
}

.telefone::before {
  background: url("../img/telefone.svg") no-repeat center center;
}

.github::before {
  background: url("../img/github.svg") no-repeat center center;
}

.footer-copy {
  margin-left: 20px;
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #b0b0b0;
}

@media (max-width: 1000px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
  .footer-contato li::before {
    display: none;
  }
}
