.formacao {
  background: #1a1a1a;
}
.formacao-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.formacao .subtitulo {
  color: #a1a1a1;
  max-width: 4ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #b0b0b0;
}

.formacao-texto strong {
  color: #cfcfcf;
}

.formacao-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #090909;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a1a1a1;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  color: #ededed;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: #ff3838;
  border-radius: 5px;
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a1a1a1;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra {
  margin-left: 44px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #828282;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #dedede;
}

.formacao-extra span {
  color: #dedede;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #b0b0b0;
    order: -1;
  }
  .formacao-extra {
    margin-left: 10px;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}

@media (max-width: 750px) {
  .formacao-texto {
    font-size: 1.3rem;
  }
}
